* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fontSize {
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
  user-select: none;
}

.container {
  width: 350px;
  height: 400px;
  border-radius: 5px;
  background-color: aliceblue;
  margin-top: 100px;
  padding: 20px;
}

.header {
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.header .header-left {
  float: left;
}

.header .header-right {
  float: right;
}

.select-container {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  cursor: pointer;
}

.select-container .selectAll {
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.select-container .selectAll span:nth-child(1) {
  font-size: 60px;
  display: block;
  text-align: center;
}

#two {
  font-size: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 45px;
  transform: translateX(-30px);
  opacity: .4;
}

.p-style {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #eff0f1;
  text-align: center;
  line-height: 30px;
}

.intercalate {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.intercalate-container {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intercalate-container .set {
  width: 100%;
  height: 35px;
}

.intercalate-container .set .h {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #e6ffd2;
  border-radius: 10px;
  font-size: 25px;
  color: #58b10f;
}

.intercalate-container .set .w {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  margin-left: 10px;
  border: 2px solid gainsboro;
  background-color: aliceblue;
}




.startRecard {
  width: 100%;
  height: 50px;
  background-color: #58b20f;
  color: aliceblue;
  line-height: 50px;
  text-align: center;
  font-weight: 800;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

video {
  width: 750px;
  position: absolute;
  /* opacity: .4; */
  display: none;
  z-index: 999;
  margin-top: 100px;
}

.view {
  display: block;
}

.mask-three {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  opacity: .2;
  display: none;
}

.mask-three-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  opacity: .2;
  display: block;
}

.mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mask .three {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #393e46;
  color: red;
  font-size: 400px;
  text-align: center;
  line-height: 400px;
}